<div class="container-fluid">
	<% if !resources.any? %>
		<h1>There aren't any posts yet</h1>
	<% elsif resources.first.is_a?(User) %>
		<h2 class="text-center"><%#= title %></h2>
		<br>
		<h5 class="adventurer_show_username float-left">Users</h5>
		<h5 class="adventurer_show_about text-center"> About</h5>
		<div class="clear"></div>
		<hr />

		<% resources.each do |resource| %>
			<div class="row">
				<div class="col-4">
					<%= link_to user_path(resource) do %>
						<div class="row">
							<%= image_tag(resource.avatars.last.picture, class: 'adventurers_show_image') if resource.avatars.any? %>
							<h5><%= resource.username %></h5>
						</div>
					<% end %>
				</div>
				<div class="col-8">
					<p><%= resource.about %></p>
				</div>
			</div>
			<hr />
		<% end %>
		<% elsif resources.first.is_a?(Adventure) %>
			<h2 class="text-center"><%#= title %></h2>
			<br>
			<h5 class="adventurer_show_username float-left">Adventure 	/		Votes</h5>
			<h5 class="adventurer_show_about text-center"> Description</h5>
		<div class="clear"></div>
		<hr />

		<% resources.each do |resource| %>
		<div class="row">
			<div class="col-4">
				<%= link_to adventure_path(resource) do %>
					<%= resource.title %>
				<% end %>
				&nbsp; &nbsp; / &nbsp; &nbsp;
				<%= resource.votes.count %>
			</div>
			<div class="col-8 float-right">
				<p><%= resource.description %></p>
			</div>
		</div>
		<hr />
		<% end %>
	<% end %>
</div>