<div class="booyah-box col-10 offset-1">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.input :email %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :username, hint: "Choose a unique username" %>
      <%= f.input :birthday, hint: "Birthday (must be 18 years old to register)", as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 18, order: [:month, :day, :year] %>
      <%= f.input :about, placeholder: "Write about about yourself" %>
      <%= f.input :quote, placeholder: "Write a personal quote that defines you", as: :text %>
      <%= f.input :password, placeholder: 'Must be at least #{@minimum_password_length} characters long' %>
      <%= f.input :password_confirmation, placeholder: 're-type password' %>
      <%= f.submit "Create Account" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>