<div class="container-fluid">	
	<div class="row">
		<div class="user_info col-sm-12 col-md-3 text-center">
			<% if @user.avatars.any? %>
				<% @user.avatars.each do |avatar| %>
					<%= image_tag avatar.picture, class: "rounded-circle" %>
					<div class="clear"></div>
					<br />
					<%= (link_to "Delete picture", user_avatar_path(current_user, avatar), method: :delete, class:"btn btn-primary") if profile_owner? %>
				<% end %>
			<% else%>
				<%= (link_to "Upload Picture", "#", data: { toggle: "modal", target: "#avatarModal"}, class:"btn btn-primary") if profile_owner? %>
			<% end %>
			
			<h2>@<%= @user.username %></h2>
			<h2><%= @user.first_name %></h2>
			<h2><%= @user.last_name %></h2>
			<h2><%= @user.adventurer_type %></h2>
			<h3>Age: <%= @user.age %></h3>
			<h3>About: <%= @user.about %></h3>
			<h3>Quote:<i>"<%= @user.quote %>"</i></h3>
			<div class="user_social_media">
				<table>
					<td>Facbook</td>
					<div class="clear"></div>
					<td>Instagram</td>
					&nbsp; &nbsp;
					<td>Twitter</td>
					&nbsp; &nbsp;
				</table>
			</div>
			<br />
			<%= (link_to "Update Information", edit_user_registration_path, class: "update_user_btn btn btn-primary") if profile_owner? %>
		</div>

		<div class="clear"></div>
		<div class="col-sm-12 col-md-8">
			<div class="row">
				<div class="col-6">
					<h2>Adventures</h2>
				</div>
				<div class="col-6">
					<%= (link_to "Add Adventure", "#", data: {toggle: "modal", target: "#adventureModal"}, class: "fa fa-plus-circle col-4 float-right") if profile_owner? %>
				</div>
			</div>
		<br />
		<% if @adventures.any? %>
			<% @adventures.each do |adventure| %>
				<h4><%= link_to adventure.title, adventure %>
				<i><%="(#{adventure.str_date.strftime('%D')}-#{adventure.end_date.strftime('%D')})" %></i></h4>
				<%= adventure.votes.count %> Votes
				<p><%= adventure.description %></p>
			<hr>
			<% end %>
		<% else %>
		<h3> No Adventures Yet</h3>
		<% end %>
		</div>
	</div>
</div>
<!-- Avatar Modal -->
<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Picture Upload</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= render 'avatars/new', user: @user %> 
    </div>
  </div>
</div>

<!-- Adventure Modal -->
<div class="modal fade" id="adventureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Adventure</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= render 'adventures/new' %> 
    </div>
  </div>
</div>