<div class="container-fluid">	
	<div class="row">
		<div class="user_info col-sm-4 float-left">
			<% if @current_user.avatars.any? %>
				<% @current_user.avatars.each do |avatar| %>
					<%= image_tag avatar.picture %><br />
					<%= link_to "Delete picture", user_avatar_path(@current_user, avatar), method: :delete,class:"btn btn-primary" %>
				<% end %>
			<% else %>
				<!-- Picture button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#avatarModal">
				  Upload Profile Picture
				</button>
			<% end %>
			

			<h1><%= @current_user.first_name %></h1>
			<h1><%= @current_user.last_name %></h1>
			<h2>Age: <%= @current_user.age %></h2>
			<h3>Quote:<i>"<%= @current_user.quote %>"</i></h3>
			<%= link_to "Update Information", edit_user_registration_path, class: "update_user_btn btn btn-primary" %>
		</div>
		<div class="clear"></div>
		<div class="user_social_media col-sm-6 float-right">
			<table>
				<td>Facbook</td>
				<div class="clear"></div>
				<td>Instagram</td>
				&nbsp; &nbsp;
				<td>Twitter</td>
				&nbsp; &nbsp;
			</table>
		</div>
	</div>
</div>
<br>
<hr>
<div class="row">
	<h2 class="float-left col-sm-12 col-md-6 offset-1">Adventures</h2>
	<button type="button" class="fa fa-plus-circle float-right col-sm-12 col-md-4 offset-1" data-toggle="modal" data-target="#adventureModal">
  	New Adventure
	</button>
</div>
<br />
	<% if @current_user.adventures.any? %>
		<% @current_user.adventures.each do |adventure| %>
			<%= link_to adventure.title, user_adventure_path(@current_user, adventure) %>
			<%= adventure.description %>
			<%= adventure.duration %>
			<hr>
		<% end %>
	<% else %>
		<h3> No Adventures Yet</h3>
	<% end %>

<!-- Avatar Modal -->
<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Picture Upload</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= render 'avatars/new' %> 
    </div>
  </div>
</div>

<!-- Adventure Modal -->
<div class="modal fade" id="adventureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Adventure</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= render 'adventures/new' %> 
    </div>
  </div>
</div>