<div class="booyah-box col-10 offset-1">
  <h2>Change your password</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.input :password, label: "Password (must be #{@minum_password_length} characters" %>
    </div>

    <div class="field">
      <%= f.input :password_confirmation, placeholder: "Re-type password" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>