<%= simple_form_for @adventure, method: :patch do |f| %>  
  <div class="modal-body">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :str_date, as: :date, label: "Start Date:", order: [:month, :day, :year] %>
    <%= f.input :end_date, as: :date, label: "End Date:", order: [:month, :day, :year] %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Save Changes", class: 'btn btn-primary' %>
  </div>
<% end %>