<%= simple_form_for @adventure do |f| %>  
  <div class="modal-body">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :str_date, as: :date, label: "Start Date:", order: [:month, :day, :year] %>
    <%= f.input :end_date, as: :date, label: "End Date:", order: [:month, :day, :year] %>
    <p>
      Tags (comma seperated)
      <%= f.text_field :tag_list, placeholder: "optional" %>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Create Your Adventure", class: 'btn btn-primary' %>
  </div>
<% end %>