<div class="container">
  <div class="header">
    <%= link_to "Back to Adventurer", user_path(@adventure.user), class: "fa fa-arrow-circle-left" %>
  	<% if adventure_owner? %>
      <div class="row">
        <div class="col-sm-12 col-md-6 float-left">
      		<%= link_to "Delete Adventure", adventure_path(@adventure), method: :delete, data: {confirm: "Your adventure will be permanently deleted. Are you sure?"}, class: "btn btn-danger" %>
      		<%= link_to "Edit Adventure", "#", data: {toggle: "modal", target: "#editModal"}, class: "btn btn-info" %>
        </div>
        <div class="col-sm-12 col-md-6 float-right">
          <%= link_to "Add Video", "#", data: {toggle: "modal", target: "#videoModal"}, class: "fa fa-plus-circle col-sm-4 col-md-2" %>
          <%= link_to "Add Picture", "#", data: {toggle: "modal", target: "#pictureModal"}, class: "fa fa-plus-circle col-sm-4 col-md-2" %>
          <%= link_to "Add Log", "#", data: {toggle: "modal", target: "#logModal"}, class: "fa fa-plus-circle col-sm-4 col-md-2" %>
        </div>
      </div>
    <% end %>
  	<h1><%= @adventure.title %></h1>
  	<h3><%= @adventure.description %></h3>
    <div class="row">
      <span id="vote_form">
        <%= form_tag adventure_votes_path(@adventure) do %>
          <%= submit_tag "Vote!",  class: "btn btn-primary" %> &nbsp;
        <% end %>
      </span>
      <span id="vote_score"> 
        <h4><%= @adventure.votes.count %> Votes</h4>
      </span>
    </div>
    <% unless @adventure.tag_list.empty? %>
      <p class="tags">
        <strong>Tags:</strong>
        <%= render partial: "tags/tag", collection: @adventure.tag_list %>
      </p>
    <% end %>
  </div>
  <hr />
  <% if @posts.any? %>
  <div class="row">
  	<% @posts.each do |post| %>
      <div class="post col-3 float-left">
  			<%= post.title %>
  			(<%= post.date.strftime("%b %d, %Y") %>)
        <br />
  			<% if post.post_type == "TravelPicture" %>
  				<%= image_tag post.picture %><br />
  				<%= post.caption %><br />
          <%#= render 'post_vote', post: post %>
          <%= (link_to "Delete Picture", adventure_post_path(@adventure, post), method: :delete) if adventure_owner? %>
  			<% elsif post.post_type == "TravelLog" %>
  				<%= post.travel_log %><br />
          <%#= render 'post_vote', post: post %>
          <%= (link_to "Delete Log", adventure_post_path(@adventure, post), method: :delete) if adventure_owner? %>
  			<% elsif post.post_type == "TravelVideo" %>
          <video id="my-video" class="video-js vjs-big-play-centered vjs-fluid" controls preload="auto" poster="#" data-setup="{}">
            <source src="<%= post.video.to_s %>" type='video/mp4'>
            <noscript>
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </noscript>
          </video>
          <br />
          <%#= render 'post_vote', post: post %>
          <%= (link_to "Delete Video", adventure_post_path(@adventure, post), method: :delete) if adventure_owner? %>
  			<% end %>
        <% unless post.tag_list.empty? %>
          <p class="tags">
            <strong>Tags:</strong>
            <%= render partial: "tags/tag", collection: post.tag_list %>
          </p>
        <% end %>
  			<br />
      </div>
      <div class="clear"></div>
  	<% end %>
  </div>
  <% end %>
</div>


  <!-- Adventure Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModal">Edit Adventure</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <%= render 'edit' %> 
      </div>
    </div>
  </div>

<!-- Video Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="videoModal">Video Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= render 'posts/video_new' %> 
    </div>
  </div>
</div>

<!-- Picture Modal -->
<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pictureModal">Picture Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= render 'posts/picture_new' %> 
    </div>
  </div>
</div>

<!-- Log Modal -->
<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logModal">Log Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= render 'posts/log_new' %> 
    </div>
  </div>
</div>