<div class="container">
  <div class="header">
    <%= link_to "Back to Adventurer", user_path(@adventure.user), class: "fa fa-arrow-circle-left" %>
  	<% if adventure_owner? %>
      <div class="row">
        <div class="col-sm-12 col-md-6 float-left">
      		<%= link_to "Delete Adventure", adventure_path(@adventure), method: :delete, data: {confirm: "Your adventure will be permanently deleted. Are you sure?"}, class: "btn btn-danger" %>
      		<%= link_to "Edit Adventure", "#", data: {toggle: "modal", target: "#editModal"}, class: "btn btn-info" %>
        </div>
        <div class="col-sm-12 col-md-6 float-right">
          <%= link_to "Add Video", "#", data: {toggle: "modal", target: "#videoModal"}, class: "fa fa-plus-circle col-sm-4 col-md-2" %>
          <%= link_to "Add Picture", "#", data: {toggle: "modal", target: "#pictureModal"}, class: "fa fa-plus-circle col-sm-4 col-md-2" %>
          <%= link_to "Add Log", "#", data: {toggle: "modal", target: "#logModal"}, class: "fa fa-plus-circle col-sm-4 col-md-2" %>
        </div>
      </div>
    <% end %>
  	<h1><%= @adventure.title %></h1>
  	<h3><%= @adventure.description %></h3>
    <div class="row">
      <% if !user_signed_in? %>
        &nbsp; &nbsp; <span class="vote"> Sign-in to Vote! </span> &nbsp;
      <% else %>
        <span id="adventure_vote_form">
          <%= form_tag adventure_votes_path(@adventure), remote: true do %>
            &nbsp; &nbsp; <%= submit_tag "Vote!",  class: "btn btn-primary" %> &nbsp;
          <% end %>
        </span>
      <% end %>
      <span id="adventure_vote_score"> 
        <h4><%= @adventure.votes.count %> Votes</h4>
      </span>
    </div>
    <% unless @adventure.tag_list.empty? %>
      <p class="tags">
        <strong>Tags:</strong>
        <%= render partial: "tags/tag", collection: @adventure.tag_list %>
      </p>
    <% end %>
  </div>
  <hr />
  <% if @posts.any? %>
  <div class="row">
  	<% @posts.each do |post| %>
      <div class="post col-sm-6 col-md-3 float-left">
  			<%= post.title %>
  			(<%= post.date.strftime("%b %d, %Y") %>)
        <br />
  			<% if post.post_type == "TravelPicture" %>
          <%= link_to image_tag(post.picture, class: "post_thumbnail_size rounded"), "#", data: {toggle: 'modal', target: '#postPhoto'} %>
          <%= render 'large_post_photo', post: post %>
          <br />
  				<%= post.caption %>
          <br />
          <%= render 'post_vote', post: post %>
          <%= (link_to "Delete Picture", adventure_post_path(@adventure, post), method: :delete) if adventure_owner? %>
  			<% elsif post.post_type == "TravelLog" %>
          <div id="logBackground">
            <%= link_to image_tag('notebook.png', class: "post_thumbnail_size rounded"), "#", data: {toggle: 'modal', target: '#postLog'} %>
  				</div>
          <%= render 'large_travel_log', post: post %>
          <br />
          <%= render 'post_vote', post: post %>
          <%= link_to "Edit Log", adventure_edit_travel_log_path(@adventure, post) %>
          <%= (link_to "Delete Log", adventure_post_path(@adventure, post), method: :delete) if adventure_owner? %>
  			<% elsif post.post_type == "TravelVideo" %>
          <%= link_to video_tag(post.video, class: 'post_thumbnail_size rounded'), "#", data: {toggle: 'modal', target: '#postVideo'} %>
          <%= render 'large_video_player', post: post %>
          <br />
          <%= render 'post_vote', post: post %>
          <%= (link_to "Delete Video", adventure_post_path(@adventure, post), method: :delete) if adventure_owner? %>
  			<% end %>
        <% unless post.tag_list.empty? %>
          <p class="tags">
            <strong>Tags:</strong>
            <%= render partial: "tags/tag", collection: post.tag_list %>
          </p>
        <% end %>
  			<br />
      </div>
      <div class="clear"></div>
  	<% end %>
  </div>
  <% end %>
</div>


  <!-- Adventure Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModal">Edit Adventure</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <%= render 'edit' %> 
      </div>
    </div>
  </div>

<!-- New Video Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="videoModal">Video Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= render 'posts/video_new' %> 
    </div>
  </div>
</div>

<!-- New Picture Modal -->
<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pictureModal">Picture Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= render 'posts/picture_new' %> 
    </div>
  </div>
</div>

<!-- New Log Modal -->
<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content log-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logModal">Log Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= render 'posts/log_new' %> 
    </div>
  </div>
</div>
