<div class="container">
	<% if @adventures.tagged_with(params[:id]).present? %>
		<h2> All Adventures tagged with "<%= params[:id] %>"</h2>
		<hr />
			<% @adventures.each do |adventure| %>
				<h4><%= link_to adventure.title, adventure_path(adventure) %></h4>
				<u>tags:</u> <%= adventure.tag_list %>
				<hr />
			<% end %>
	<% elsif @posts.tagged_with(params[:id]).present? %>
		<h2> All Posts tagged with "<%= params[:id] %>"</h2>
		<hr />
			<% @posts.each do |post| %>
				<% case post.post_type %>
				<% when "TravelVideo" %>
					<h4><%= post.title%></h4>
					<%= link_to video_tag(post.video, class: "post_thumbnail_size rounded"), "#", data: {toggle: 'modal', target: '#postVideo'} %>
					<%= render 'adventures/large_video_player', post: post %>
					<br />
          Adventure: <%= link_to post.adventure.title, adventure_path(post.adventure) %><br >
					<u>tags:</u> <%= post.tag_list %>
				<% when "TravelLog" %>
					<h4><%= post.title %></h4>
					<%= link_to image_tag('notebook.png', class: "post_thumbnail_size rounded"), "#", data: {toggle: 'modal', target: '#postLog'} %>
					<%= render 'adventures/large_travel_log', post: post %>
					<br />
					Adventure: <%= link_to post.adventure.title, adventure_path(post.adventure) %>
					<br />
					<u>tags:</u> <%= post.tag_list %><br />
				<% when "TravelPicture" %>
					<h4><%= post.title %></h4>
					<%= link_to image_tag(post.picture, class: "post_thumbnail_size rounded"), "#", data: {toggle: 'modal', target: '#postPhoto'} %>
					<%= render 'adventures/large_post_photo', post: post %>
					<br >
					Adventure: <%= link_to post.adventure.title, adventure_path(post.adventure) %><br >
					<u>tags:</u> <%= post.tag_list %>
				<% end %>
				<hr />
			<% end %>
	<% end %>

</div>