<h3 class="text-center"> Sign In </h3>
<%= simple_form_for(:user, url: user_session_path) do |f| %>
  <div class="field">
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.submit "Log In"%>
  </div>
<% end %>

<div class="form-group text-center">
    <button><%= link_to "Sign Up", new_user_registration_path %></button>
    <br />
    <button><%= link_to "Forgot password?", new_user_password_path %></button>
    <br />
    <small><%= link_to "About Adventurer", about_path %></small>
    <br />
    <small><%= link_to "Contact Us", contact_path %></small>
</div>
