<%= simple_form_for @travel_log, url: adventure_create_travel_log_path(@adventure) do |f| %>  
  <div class="modal-body">
  	<%= f.input :title %>
  	<%= f.input :date, as: :date, label: "Date Of Event" %>
  	<%= f.hidden_field :post_type, value: "TravelLog" %>
    <%= f.input :travel_log %>
    <p>
      Optional: Tags(comma seperated):
      <%= f.text_field :tag_list, placeholder: "ex: tips, journal, India, ..etc." %>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Save Log", class: 'btn btn-primary' %>
  </div>
<% end %>