<%= simple_form_for @travel_picture, url: adventure_create_travel_picture_path(@adventure) do |f| %>  
  <div class="modal-body">
  	<%= f.input :title %>
  	<%= f.input :date, as: :date, label: "Date Of Event" %>
    <%= f.hidden_field :post_type, value: "TravelPicture" %>
    <%= f.input :picture %>
    <%= f.input :caption %>
    <p>
      Tags(comma seperated):
      <%= f.text_field :tag_list, placeholder: "optional" %>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Upload Picture", class: 'btn btn-primary' %>
  </div>
<% end %>