<%= simple_form_for @travel_video, url: adventure_create_travel_video_path(@adventure) do |f| %>  
  <div class="modal-body">
  	<%= f.input :title %>
  	<%= f.input :date, as: :date, label: "Date Of Event" %>
  	<%= f.hidden_field :post_type, value: "TravelVideo" %>
    <%= f.input :video %>
    <p>
      Tags(comma seperated):
      <%= f.text_field :tag_list, placeholder: "optional" %>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Upload Video", class: 'btn btn-primary' %>
  </div>
<% end %>