<!DOCTYPE html>
<html>
  <head>
    <title>Adventurer</title>
    <%= csrf_meta_tags %>

    <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
		<div class="row">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
			<%= link_to "Adventurer", root_path, class: "navbar-brand"%>
			<% if !user_signed_in? %>
		    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
		            &#9776;
		    </button>
		    <div class="collapse navbar-collapse" id="exCollapsingNavbar">
		      <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
		        <li class="dropdown order-1">
		        <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
		          <ul class="dropdown-menu dropdown-menu-right mt-2">
		            <li class="px-3 py-2">
		              <%= render partial:'devise/sessions/new' %>
		            </li>
		            <hr />
			           <div class="text-center px-3 py-2">
				            <%= link_to "About Adventurer", about_path %><br />
				            <%= link_to "Contact Us", contact_path %>
		          	</div>
		          </ul>
		        </li>
		      </ul>
		    </div>
		 	<% else %>
		 		<%= link_to current_user.full_name, user_path(current_user), class: 'nav-link ml-auto'  %>
		 		<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
		 	<% end %>
		</nav>
	</div>

	<% if notice.present? %>
		<p class="alert alert-info"><%= notice %></p>
	<% end %>
	<% if alert.present? %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<br class="clear">

  <%= yield %>


  <script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
  <script src="https://vjs.zencdn.net/7.1.0/video.js"></script>
  </body>
</html>
