<!DOCTYPE html>
<html>
  <head>
    <title>Adventurer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">
  </head>

  <body>
		<div class="row">
			<nav class="navbar navbar-expand-lg fixed-top" role="navigation">
			<%= link_to root_path, class: "navbar-brand" do %>
				<%= image_tag("tentnavbar.png") %>
				Adventurer
			<% end %>
			<% if user_signed_in? %>
		 		<%= link_to current_user.full_name, user_path(current_user), class: 'nav-link ml-auto'  %>
		 		<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
		 	<% end %>
		</nav>
	</div>

	<% if notice.present? %>
		<p class="alert alert-info"><%= notice %></p>
	<% end %>
	<% if alert.present? %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<br class="clear">

  <%= yield %>


    <script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </body>
</html>
